main {
    transition: 0.5s;
    display: grid;
    grid-template-rows: auto 1fr;
}

main.open {
    margin-left: 13rem;
}

main.close {
    margin-left: 2.5rem;
}

.title,
.content {
    margin-left: 1rem;
}

.title {
    color: #213547;
    margin: 1rem;
    outline: none;
    border: none;
    font-size: 3rem;
}

.content {
    margin: 1rem;
    width: 97%;
    height: calc(90vh - 4rem);
    padding: 1rem;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow-y: auto;
}
