main {
    transition: 0.5s;
    border: 1px solid red;
}

main.open {
    margin-left: 13rem;
    transition: 0.5s;
}

main.close {
    margin-left: 2.5rem;
    transition: 0.5s;
}

.title,
.content {
    margin-left: 1rem;
    transition: 0.5s;
}